<section class="about1">
<div class="about-title">
<span class="big-font">WE DO</span></br>
INTERACTIONS</br>
<span class="big-font2">BEST</span>

</div>

<div class="about-title2">
Partner With </br>Us Today!

</div>


<div class="about-description">
We turn traditional marketing and promotion into interactive campaigns that get results.  We specalize in interactive exhibitions that draws attention and create long lasting connections.  We handle everything from research, social media, execution and post event engagment.

</div>

<div class="about-gurantee">
<%= image_tag '330-puzzle-outline-w.png', :class => "puzzle-image" %>

<h1>A Happy Interaction</br>Guranteed.</h1>
</div>



</section>

<section class="about2">
<div class="services1">
	<div class="headline-service">
		HEY, look over here! 
	</div><i class="fa fa-bullhorn"></i><div class="clear"></div>
	<h1 class="title-service">interactive exhibitions</h1>
	<div class="description-service">
		If you have to chase people down to come to your booth, you are doing it all wrong.  What if you had an exhibtion, where poeple ran over to see what was going on.  We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.

	</div>

	<h1 class="title-service">interactive social media</h1>
	<div class="description-service">
		If you have to chase people down to come to your booth, you are doing it all wrong.  What if you had an exhibtion, where poeple ran over to see what was going on.  We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.

	</div>

	<h1 class="title-service">interactive websites</h1>
	<div class="description-service">
		If you have to chase people down to come to your booth, you are doing it all wrong.  What if you had an exhibtion, where poeple ran over to see what was going on.  We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.

	</div>

</div>






</section>

<section class="about3">
<div class="about-title">


</div>


</section>

<section class="about4">
<div class="about-title">


</div>


</section>