<section class="about1">
<div class="about-title">
<span class="big-font">WE DO</span></br>
INTERACTIONS</br>
<span class="big-font2">BEST</span>

</div>

<div class="about-title2">
Partner With </br>Us Today!

</div>


<div class="about-description">
We turn traditional marketing and promotion into interactive campaigns that get results.  We specalize in interactive exhibitions that draws attention and create long lasting connections.  We handle everything from research, social media, execution and post event engagment.

</div>

<div class="about-gurantee">
<%= image_tag '330-puzzle-outline-w.png', :class => "puzzle-image" %>

<h1>A Happy Interaction</br>Guranteed.</h1>
</div>



</section>

<section class="about2">
<div class="services1">
	<div class="headline-service">
		HEY, look over here! 
	</div><div class="clear"></div>
	<h1 class="title-service">interactive exhibitions</h1>
	<div class="description-service">
		If you have to chase people down to come to your booth, you are doing it all wrong.  What if you had an exhibtion, where poeple ran over to see what was going on.  We develop interactive exhibitions for festivals, concerts, events, street campaigns, etc for brands that want to reach new markets and make long lasting impressions on potential customers.

		<ul>
			<li>Research / Consulting</li>
			<li>Interactive Events</li>
			<li>Custom Booth Displays</li>
			<li>Customer Engagement</li>
			<li>Data Collection</li>
			<li>Photography & Videography</li>
			<li>Mini Event Series</li>
			<li>Traveling Tours</li>
		</ul>

		<ul>
			<li>Promo & Banner Design</li>
			<li>Tradeshows and Conventions</li>
			<li>Interactive Sporting Exhibits</li>
			<li>Local Festivals and Events</li>
			<li>Contest Development</li>
			<li>Event Sponsorships</li>
			<li>Fan Acquisition</li>
		</ul>
			

	</div>

	<h1 class="title-service">interactive social media</h1>
	<div class="description-service">
		How are you engaging your followers?  Do you need to organicly grow your followers?  

	</div>

	<h1 class="title-service">interactive microsites</h1>
	<div class="description-service">
		Our interactive microsites are used to turn potential markets into customers and fan of your brand.

	</div>

</div>






</section>



<section class="about4">
<div class="about-title">


</div>

<div class="about-stuff">
	<div class="stuff1"><span class="bigstuff">1 Team</span>.

	</div>

	<div class="stuff1">
		<span class="bigstuff">1,000s</span></br> of hours at festivals.   

	</div>

	<div class="stuff1">
	<span class="bigstuff">10,000s</span></br> of interactions made.
	</div>

	<%= image_tag 'black-puzzle.png', :class => "puzzle-image2" %>

	<div class="about-information">

		<h1>The Missing Piece</h1>

		<p>Four dollar toast Austin whatever, banjo seitan Brooklyn squid chambray hoodie umami cliche Shoreditch migas. Marfa letterpress butcher banh mi tousled squid, roof party seitan semiotics. Pop-up sriracha mustache keytar mlkshk. +1 direct trade cronut roof party. Put a bird on it PBR polaroid beard Austin cronut, narwhal yr McSweeney's tofu asymmetrical brunch artisan. Food truck gentrify occupy, Pitchfork four dollar toast fingerstache bespoke banjo Thundercats Vice retro Carles wayfarers +1. Bicycle rights fashion axe disrupt polaroid, asymmetrical lo-fi selvage biodiesel Etsy.
		</p>

	</div>


	</div>


</section>

<section class="about3">
<div class="about-title">


</div>

<div class="contact">
	<h1>every great interaction starts with a simple hello.</br>
		hey...let's chat.</h1>
	<span class="contact-email">info@330monday.com</span>
	<span class="contact-phone">704.712.2717</span>

	<p>Send us cool stuff!</br>PO Box 790311</br>Charlotte, NC 28206 </p>

	 <div class="social-links">
	 	<a href="https://instagram.com/rhymesdesigns/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/RhymesDesigns" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/RhymesDesigns" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>
	</div>


</section>