<section class="about3">


<div class="contact">
		<div class="headline-service2">
			CONTACT
			</div>
				
	<h1>every great interaction starts with a simple hello.</br>
		hey...let's chat.</h1>
	<span class="contact-email">info@330monday.com</span>
	<span class="contact-phone">704.712.2717</span>

	<p>Send us cool stuff!</br>PO Box 790311</br>Charlotte, NC 28206 </p>

	 <div class="social-links">
	 	<a href="https://instagram.com/rhymesdesigns/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/RhymesDesigns" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/RhymesDesigns" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>
	</div>


</section>