<section class="about5">
		<div class="headline-service2">
			Frequently Asked Questions
			</div>

<dl>
  <dt>What is 330 Monday?</dt>
  <dd>330 Monday is a full service event exhibition agency.  Specializing in connecting amazing people, with amazing brands, for an amazing time for years to come. </dd>
</dl>

<dl>
  <dt>Are you obsessed with Mondays?</dt>
  <dd>Every monday you are one step closer to getting to the next level. 330 Monday is here to help make those connections.</dd>
</dl>

<dl>
  <dt>If home is where the heart is, where is home for 330 Monday?</dt>
  <dd>In a world full of fun and excitement, we choose Charlotte, NC to be our home. Our passion is to actively explore the world to make it better with experiences.</dd>
</dl>

<dl>
  <dt>Are you hiring now?</dt>
  <dd>Absolutely, yes. If you're a talented engineer or designer we want to talk to you.</dd>
</dl>

<dl>
  <dt> What is 330 Monday?</dt>
  <dd>330 Monday is a full service event exhibition agency.  Specializing in connecting amazing people, with amazing brands, for an amazing time for years to come. </dd>
</dl>
</section>