
<%= image_tag 'howto-title-interact.jpg', :class => "title-image" %>

<section class="interact-section1">
<%= image_tag 'goals-title-interact1.png', :class => "title-image" %>
</section>

<section class="interact-section2">

	<%= image_tag 'goals-title-interact2.png', :class => "title-image" %>


	<div class="boxlines-1">
		<div class="boxlines-1a"></div>
		<div class="boxlines-1b"></div>

		<div class="boxlines-2">
			<div class="boxlines-2a"></div>
			<div class="boxlines-2b"></div>
			<div class="boxlines-2c"></div>
			
		</div>


	</div>









	</section>
