
#maincontainter {position: absolute; width: 100%; height: 100%;}
#intro {height: 100%;}
#intro .slide {background-attachment: fixed; background-position: center 0; background-repeat: no-repeat; background-size: cover; height: 0; overflow: hidden; position: absolute; transition: height 900ms cubic-bezier(.63, .64, .3, 1) 0s; width: 100%;}
#intro .slide.active {height: 100%;}

.cltfirstpart {float: left; width: 100%; margin: 0; height: auto; min-height: 600px; padding: 15px 0; background-color: none;}
.hashtag {width: 100%; position: absolute; bottom: 0; background-color: #000; padding: 10px auto; font-size: 40px; font-family: "shuriken-std",fantasy; color: #fff; text-align: center;}
.hashtag span {font-family: "proxima-nova",sans-serif; font-size: 14px;}
.jackbeagal {width: 30%; margin: 50px 35%; float: left;}

.cltsecondpart {float: left; width: 100%; margin: 0; height: auto; height: auto; padding: 15px 0; background-color: #20a286;}
.cltinfo {float: left; width: 60%; margin: 50px 20%; color: #fff; font-family: "proxima-nova",sans-serif; font-size: 20px; text-align: center;}
.hashtag2 {float: left; font-size: 40px; margin: 15px 0; font-family: "shuriken-std",fantasy; color: #fff; text-align: center; width: 100%;}

.cltthirdpart {float: left; width: 100%; margin: 0; height: auto; height: auto; padding: 15px 0; background-color: #e74c3c;}
.cltwrapper {width: 850px; margin: 25px auto; position: relative; padding: 0;}
.cltinstruction {float: left; height: 300px; width: 48%; margin: 0 2% 0 0; padding: 10px; background-color: #c0392b; color: #fff; font-family: "proxima-nova",sans-serif; font-size: 20px;}
.cltformbox {float: left; height: 300px; width: 48%; margin: 0 0 0 2%; padding: 10px; background-color: #c0392b; color: #fff; font-family: "proxima-nova",sans-serif; font-size: 20px;}
.cltinstruction h2 {float: left; width: 100%; text-align: center; font-size: 20px; color: #fff;}
.specialfont {font-family: "shuriken-std",fantasy; color: #fff; text-align: center; width: 100%; font-size: 40px;}
form#cltform div.field-holder {margin: 10px 0;}
form#cltform div.field-holder input {background-color: #c0392b; color: #fff; border: none; border-bottom: 2px solid #fff; font-family: "shuriken-std",fantasy; text-align: center; font-size: 24px;}
form#cltform div.field-holder div.label {margin: 10px 0; }
.cltsteps {float: left; width: 90%; margin: 10px 5%; padding-top: 2px solid #fff;}
.cltstep {float: left; width: 100%; margin: 5px 0; padding: 2px; text-align: center; background-color: #bdc3c7; color: #000;}
.cltstep span {font-family: "shuriken-std",fantasy;}
.cltstep.active {color: #e74c3c; background-color: #fff; cursor: pointer;}

.cltsteps2 {float: left; width: 90%; margin: 10px 5%; padding-top: 2px solid #fff;}
.cltstep {float: left; width: 100%; margin: 5px 0; padding: 2px; text-align: center; background-color: #bdc3c7; color: #000;}
.cltstep span {font-family: "shuriken-std",fantasy;}
.cltsteps .cltstep.active {color: #e74c3c; background-color: #fff; cursor: pointer;}

#step22.active {color: #e74c3c; background-color: #fff; cursor: text;}
#step32.active {color: #e74c3c; background-color: #fff; cursor: pointer;}

#poster-holder #poster.disable {
  pointer-events: none;
}

#sitemenu-icon {
	background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: fixed;
    right: 40px;
    top: 40px;
    width: 32px;
    z-index: 10000;
}

#sitemenu-icon span {
    background: #eaeaea none repeat scroll 0 0;
    height: 4px;
    position: absolute;
    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 32px;
}
#sitemenu-icon span.line1 {
    top: 0;
}
#sitemenu-icon span.line2 {
    top: 10px;
}
#sitemenu-icon span.line3 {
    top: 20px;
}
#sitemenu-icon.open .line1 {
    top: 12px;
    transform: rotate(-45deg);
}
#sitemenu-icon.open .line2 {
    opacity: 0;
}
#sitemenu-icon.open .line3 {
    top: 12px;
    transform: rotate(45deg);
}

#overwrap {background-color: rgba(0, 0, 0, .9); height: 120%; left: 0; opacity: 0; position: fixed; top: 0; transition: opacity 200ms ease 0s; width: 100%; z-index: -9999;}
#overwrap.active {opacity: 1; z-index: 1000;}
.contentoverlay {left: 50%; top: 50%; width: 434px; margin-left: -180px; margin-top: -280px; position: fixed; width: 400px; height: auto; text-align: center; transition: all 300ms ease 0s; z-index: -999; opacity: 0;}
#canvasbox {background-color: none;}
.contentoverlay.show {opacity: 1; z-index: 1000;}

body.noscroll {
    overflow: hidden;
    position: relative;
}

#hiddentextform1 {display: none;}
#hiddentextform2 {display: none;}

div.canvascontainer a#fileSelect {color: #9b59b6; padding: 10px; margin: 0 auto;}

#fileSelect {display: none;}
#fileUpdate {display: none;}

#fileSelect.active {display: inline;}
#fileUpdate.active {display: inline;}

#imagecontrolbox {display: none;}

@media screen and (max-width: 640px){
    .cltinstruction {float: left; height: 300px; width: 96%; margin: 0 2% 0 2%; padding: 10px; background-color: #c0392b; color: #fff; font-family: "proxima-nova",sans-serif; font-size: 20px;}
    .cltformbox {float: left; height: 300px; width: 96%; margin: 0 2% 0 2%; padding: 10px; background-color: #c0392b; color: #fff; font-family: "proxima-nova",sans-serif; font-size: 20px;}



    }