#myCanvas {background-color: #fff; position: relative;}
#micrositeform {color: #8e44ad; margin: 25px;}
.tip {display: none;}
#yourOutputDiv {font-size: 40px; color: #8e44ad;}

.canvasbox {width: 800px; position: relative; margin: 50px auto;}
#yourUrl  {font-size: 40px; color: #8e44ad;}