// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about1 {width: 100%; padding: 50px 10%; float: left; height: auto; min-height: 600px; background: url('/assets/oktoberfest7.JPG'); background-size: 100% auto; background-repeat: no-repeat;}
.about2 {width: 100%; padding: 50px 10%; float: left; height: auto; min-height: 600px; background-color: #e74c3c;}
.about3 {width: 100%; padding: 50px 10%; float: left; height: auto; min-height: 600px; background: url('/assets/drumstrong1.jpg'); background-size: 100% auto; background-repeat: no-repeat;}
.about4 {width: 100%; padding: 50px 10%; float: left; height: auto; min-height: 600px; background-color: #f1c40f;}
.about5 {width: 100%; padding: 50px 10%; float: left; height: auto; min-height: 600px; background: url('grey_wash_wall2.png');}


.about-title {width: auto; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; font-size: 52px; line-height: 52px; color: #f1c40f; text-align: center; float: left;}

.big-font {font-size: 120px; line-height: 100px;}
.big-font2 {font-size: 150px; line-height: 110px;}

.about-title2 {display: none; font-family: Arial,Helvetica,Arial,sans-serif; font-size: 40px; line-height: 42px; color: #fff; border-radius: 10px; text-align: center; float: right; margin: 50px 25px; background-color: #e74c3c; padding: 20px;}
.about-title2:hover {font-family: Arial,Helvetica,Arial,sans-serif; font-size: 40px; line-height: 42px; color: #fff; border-radius: 10px; text-align: center; float: right; margin: 50px 25px; background-color: #000; padding: 20px;}

.about-description { width: 40%; text-shadow: .2px .2px #000; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; font-size: 20px; line-height: 24px; color: #fff; border-radius: 10px; text-align: center; float: right; margin: 50px 0px;}

.puzzle-image {float: left; width: 40%; height: auto;}
.about-gurantee {float: left; width: 50%; margin: 40px 25%; height: auto; font-size: 50px; color: #000;}
.about-gurantee h1 {float: left; width: 60%; font-size: 50px; color: #fff; padding: 0 5%; font-family: "hwt-republic-gothic-outline";}

.services1 {float: left; width: 90%; margin: 10px 5%; color: #fff; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;}

.headline-service {float: left; text-align: left; font-family: "hwt-republic-gothic-outline"; font-size: 50px; color: #fff;}
.headline-service2 {float: left; text-align: left; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; font-size: 50px; color: #fff; clear: both; width: 100%; margin: 0 0 25px 0;}

.title-service {float: left; text-align: center;}
.description-service {float: left; text-align: left;}

div.description-service ul {float: left; width: 50%; padding: 10px 5%; list-style: none;}

.contact {float: left; margin: 0; padding: 0; color: #fff;}
.contact p {font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; color: #fff; font-size: 18px; line-height: 20px;}
.contact h1 {color: #fff; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; float: left; width: 100%; font-size: 36px; line-height: 38px;}
.contact span.contact-email {font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; float: left; width: 100%; font-size: 50px; line-height: 50px; color: #e74c3c; margin: 10px 0;}
.contact span.contact-phone {font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; float: left; width: 100%; font-size: 50px; line-height: 50px; color: #f1c40f; margin: 10px 0;}

.about-stuff {width: 100%; float: left; margin: 0; padding: 0;}
.stuff1 {float: left; width: auto; margin: 0 25px; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; color: #000; font-size: 20px; line-height: 22px;}
.bigstuff {font-family: "hwt-republic-gothic-outline"; font-size: 68px; line-height: 68px;}
.about-information {float: left; width: 60%; padding: 50px 5% 0 5%; margin: 0; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; color: #000; font-size: 20px; line-height: 22px;}
.about-information p {font-size: 16px; line-height: 18px;}
.puzzle-image2 {float: left; width: 30%; height: auto; margin: 0 10% 0 0;}
.contact div.social-links {float: left; margin: 10px 0 0 0; font-size: 20px; line-height: 20px; color: #fff;}
.contact div.social-links a {color: #fff; font-size: 30px; line-height: 30px;}

.process-image {float: left; width: 30%; height: auto;}
.process-box {float: left; width: 50%; min-height: 200px; height: auto; color: #fff; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;}
.process-box h2 {float: left; font-size: 18px; line-height: 18px; margin-top: 0;}
.process-box p {float: left; font-size: 14px; line-height: 18px; padding: 5px 0;}
.process-box2 {float: left; width: 70%; padding: 0px 5%; color: #fff; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;}



.title-image {float: left; width: 100%; height: auto; margin: 0; padding: 0;}
.interact-section1 {float: left; background-color: #e74c3c; margin: 0; padding: 0; width: 100%; height: auto;}
.interact-section2 {float: left; background-color: #e74c3c; margin: 0; padding: 0; width: 100%; height: auto;}

.boxlines-1 {position: absolute; width: 100%; margin: 0; padding: 0 20px 0 0; height: auto;}
.boxlines-1a {float: left; width: 42%; margin: 0 0 0 8%; padding: 0; border-right: 15px solid #16a085; height: 200px; border-bottom: 30px solid #16a085;}
.boxlines-1b {float: left; width: 42%; margin: 0 8% 0 0; padding: 0; border-left: 15px solid #16a085; height: 200px; border-bottom: 30px solid #16a085; }
.boxlines-2 {float: left; width: 84%; margin: 0 8%; padding: 0; height: auto;}
.boxlines-2a {float: left; width: 30%; margin: 0; padding: 0; height: 100px; border-left: 30px solid #16a085;}
.boxlines-2b {float: left; width: 40%; margin: 0; padding: 0; height: 100px; border-left: 30px solid #16a085; border-right: 30px solid #16a085;}
.boxlines-2c {float: left; width: 30%; margin: 0; padding: 0; height: 100px; border-right: 30px solid #16a085;}

.boxlines-3 {float: left; width: 96%; margin: 0 0 0 4%; padding: 0; height: auto; font-size: 40px; line-height: 40px; color: #fff; text-align:center; text-transform: uppercase; font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;}
.boxlines-3a {float: left; width: 16%; margin: 0 6% 0 2%; padding: 25px 2%; height: auto; background-color: #16a085; border-radius: 10px;}
.boxlines-3b {float: left; width: 16%; margin: 0 4%; padding: 25px 2%; height: auto; background-color: #16a085; border-radius: 10px;}
.boxlines-3c {float: left; width: 16%; margin: 0 4% 0 6%; padding: 25px 2%; height: auto; background-color: #16a085; border-radius: 10px;}
.boxlines-3d {float: left; width: 16%; margin: 0 2% 0 8%; padding: 25px 2%; height: auto; background-color: #16a085; border-radius: 10px;}

.boxlines-3 a {color: #fff; text-decoration: none;}
.boxhover:hover {background-color: #000; color: #fff; text-decoration: none;}


