// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-post-index {float: left; width: auto; margin: 5px 5px; padding: 0;}


.homepage-back {position: absolute; padding: 0 100px 50px 100px; width: 100%; height: auto; background: url('grey_wash_wall2.png'); background-size: auto auto; }
#330header.navbar.navbar-default {border: none !important; background: #fff url('grey_wash_wall2.png') !important;}
.navbar-default {
    background-color: #fff; border: 0px solid #fff !important;}
body {
    background: url("grey_wash_wall2.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}